@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url('../app/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsBold";
    src: url('../app/fonts/Poppins/Poppins-Bold.ttf');
}

body {
    font-family: "Poppins", sans-serif;
    color: white
}