@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url('../app/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsBold";
    src: url('../app/fonts/Poppins/Poppins-Bold.ttf');
}

:root {
    --nav-link-hover-color: #067BA5;

}

body {
    font-family: "Poppins", sans-serif;
    /* color: white */
}

a.nav_links.active {
    color: var(--nav-link-hover-color)
}